table tr {
    background-color: #fffaf3;
}

table tr:hover {
    background-color: #fff4e4;
}

.hidden {
    display: none !important;
}

.animate-fading{ 
    animation:fading 5s infinite
}

@keyframes fading{0%{opacity:0}50%{opacity:1}100%{opacity:0}}